chromadb
gradio
langchain
langchain-anthropic
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
python-dotenv
sentence-transformers